# App
NODE_ENV="development"
PORT=3333

# Auth
JWT_SECRET="change-me-with-at-least-32-characters"

# Database
# Uso local fora do Docker
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nest_template?schema=public"

# Uso dentro do Docker Compose
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/nest_template?schema=public"
